streamlit
st-click-detector
openai==0.27.8
barfi==0.7.0
trubrics[streamlit]==1.6.1 #user feedback tool
langchain
docarray>=0.32.0 # if you're using an in-memory vecLib
requests
qdrant-client
wanb #MLOps
beautifulsoup4==4.12.2
PDFpy==0.0.35
PyPDF2==2.0.0
python-doten
